@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CoDA</h1>
    <p class="lead">Control distributors auctions</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать!</h2>
        <p>
            Сервис представляет собой систему взаимодействия между дистрибьютерами и производителями товаров. 
            Его главная задача - повышение эффективности и результатиивности публичных закупок в российских 
            публичных аукционах в сфере медицинских препаратов.
        </p>
         <p><a class="btn btn-default" href="Warehouse/LookWarehouse">Просмотреть склад &raquo;</a></p>
    </div>
</div>